.wrapper.dark {
  --bg: #111;
  --on-bg: #f8f8f8;
  --secondary: #222;
}

.wrapper {
  --bg: #f8f8f8;
  --on-bg: #111;
  --secondary: #eee;
}

* {
  color: var(--on-bg);
  background-color: var(--bg);
  transition: color 0.2s, background-color 0.2s;
  user-select: none;
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
}

input {
  border: none;
}

input:focus {
  outline: none;
}
