.wrapper.dark {
  --bg: #111;
  --on-bg: #f8f8f8;
  --secondary: #222;
}

.wrapper {
  --bg: #f8f8f8;
  --on-bg: #111;
  --secondary: #eee;
}

* {
  color: var(--on-bg);
  background-color: var(--bg);
  transition: color 0.2s, background-color 0.2s;
  user-select: none;
}

.main {
  min-height: 100vh;
  background-color: var(--bg);
}

input {
  border: none;
}

input:focus {
  outline: none;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

*::-webkit-scrollbar-track {
  background: var(--bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--bg);
  border-radius: 20px;
  border: 0px solid var(--on-bg);
}

.spacer {
  flex: 1;
}
